/* Extra CSS */

.small {
  font-size: 80%;
}
.tiny {
  font-size: 60%;
}
.large {
  font-size: 150%;
}
.larger {
  font-size: 160%;
}
.vlarge {
  font-size: 200%;
}
.huge {
  font-size: 250%;
}
.vhuge {
  font-size: 350%;
}
.full-width {
  display: flex;
  width: 100%;
  flex: 1 1 auto;
}
.left-code {
  width: 38%;
  height: 92%;
  float: left;
}
.right-plot {
  width: 60%;
  float: right;
  padding-left: 1%;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
div.my-footer {
  background-color: #FDFCFA;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 40px;
  width: 100%;
}

.inverse .my-footer {
  background-color: #0079D1;
  color: #FDFCFA;
}

div.my-footer span {
  font-size: 16pt;
  color: #D40067;
  position: absolute;
  left: 20px;
  bottom: 10px;
}

.inverse .remark-slide-number {
  display: none;
}

.end .remark-slide-number{
  display: none;
}

.inverse strong {
  color: #002B36
}

.inverse code {
  color: #002B36
}

